// responsive
$mobile-small: 350px;
$mobile-large: 767px;

$tablet-small: 768px;
$tablet-large: 1200px;

$desktop-small: 1201px;
$desktop-large: 1366px;

// global variables
$margin-mobile: 80px;
$margin-desktop: 125px;
$max-content-width: $tablet-large;

// Headings
$font-xl: 24px;
$font-lg: 20px;
$font-md: 18px;
$font-sm: 16px;
$font-xs: 14px;
$font-xs-1: 12px;
