.tableWrapper {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px; /* for horizontal scrollbar */
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bbbaba;
  }
  table {
    tr {
      th {
        &:last-child {
          text-align: left !important;
        }
      }
      td {
        &:last-child {
          text-align: left !important;
        }
      }
    }
  }
}
